<!DOCTYPE html>
{% load flatpages %}

<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-151048675-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-151048675-1");
    </script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block share %}{% endblock share %}
    <title>Nativa Media</title>
    <!-- insert in below line favicon-->
    <link rel="shortcut icon" href="/static/img/nativaicon.png" />
    <link href="/static/css/slick.css" rel="stylesheet" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/venobox.css" rel="stylesheet" />
    <link href="/static/css/style.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link href="/static/css/customstyle.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="/static/css/owlcarousel/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="/static/css/owlcarousel/owl.theme.default.min.css"
    />
    {% block extra_css %}{% endblock extra_css %}
  </head>
  <body>
    <style>
      footer .copyright {
        margin-top: 0px !important;
        padding: 0px !important;
      }
    </style>
    <div class="wrapper">
      <!-- Navigation -->
      <div class="navbar" role="navigation">
        <!-- Heading -->
        <div class="heading">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <!--<a href="#">
									<i class="material-icons">search</i>
								</a> -->
                <form
                  method="get"
                  class="searchform search-form form-inline"
                  action="/buscador/"
                >
                  <div class="search">
                    <button class="" type="submit">
                      <i class="material-icons">search</i>
                    </button>
                  </div>
                  <div class="form-group f-text">
                    <input
                      type="text"
                      value=""
                      name="search"
                      class="form-control"
                      placeholder="buscar"
                      id="modal-search-input"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="navbar-header">
            <a href="/" class="logo" title="Inicio">
              <img src="/static/img/nativanegativo.png" alt="Nativa Media" />
            </a>
            <button
              type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target=".navbar-collapse"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar top-bar"></span>
              <span class="icon-bar middle-bar"></span>
              <span class="icon-bar bottom-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse">
            <ul id="menu-primary" class="nav navbar-nav">
              <li>
                <a href="/">Inicio</a>
              </li>
              <li class="dropdown">
                <a href="/">Categorias</a>
                <ul class="dropdown-menu">
                  {% for x in tipos %}
                  <li>
                    <a href="{% url 'list_videos' x.slug %}" class="white-color"
                      >{{x}}</a
                    >
                  </li>
                  {% endfor %}
                </ul>
              </li>
              {% if directo == True %}
              <li>
                <a class="directo-icon" href="/en-directo">
                  <i
                    class="material-icons"
                    style="font-size: 10px; color: #ff0000"
                  >
                    <div class="ball">
                      <span></span>
                    </div>
                  </i>
                </a>
                <a href="/en-directo" style="padding-left: 5px">En Directo</a>
              </li>
              {% endif %}
              {% comment %} {% if noticias %}
                <li class="dropdown">
                  <a href="/noticias">Noticias</a>
                  <!--<ul class="dropdown-menu">
                  <li><a href="#">Reportaje</a></li>
                </ul>-->
                </li>
              {% endif %}  {% endcomment %}
              {% comment %} {% if biblioteca %}
              <li><a href="/biblioteca/" class="white-color">Biblioteca</a></li>
              {% endif %} {% endcomment %}
              <li>
                <a href="/videos/documental">Documentales</a>
              </li>
              <li>
                <a href="/videos/peliculas">Peliculas</a>
              </li>
              <li>
                <a href="/videos/series">Series</a>
              </li>
              <li>
                <a href="">Radio-Podcast</a>
              </li>
              <li>
                <a href="">Publicaciones</a>
              </li>
              <li>
                <a href="/conocenos">Sobre Nativa</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      {% block content %}{% endblock content %}

      <footer class="" style="margin-top: 75px">
        <div class="container">
          <div class="copyright">
            <div class="row">
              <div class="col-lg-6 col-md-12 col-xs-12">
                <p style="padding-top: 30px">
                  &copy; <span id="currentYear"></span> Nativa Media. Todos los
                  derechos reservados.
                </p>
              </div>
              <!-- <div class="col-lg-6 col-md-12 col-xs-12">
                <ul class="list-inline" style="text-align: center">
                  <li>
                    <img src="/static/img/logos1.png" alt="" width="150px" />
                  </li>
                  <li>
                    <img src="/static/img/logos2.png" alt="" width="150px" />
                  </li>
                </ul>
              </div> -->
            </div>
          </div>
        </div>
      </footer>
    </div>

    <!-- <script type="text/javascript">
	var prev_det;

	function showmore(idvid, cat){
		var video_id = idvid;
		var data = {video_id};

		$('#selected_det_id').val(idvid);
		hide_active(idvid,cat);	 // ocultar si hay otro activo en ese momento
		$('#video_name_'+idvid+'_'+cat).addClass('hidden');
		$('#expand-icon_'+idvid+'_'+cat).removeClass('hidden');
		$('#activeVideo_'+idvid+'_'+cat).removeClass('hidden');
		$('#activeVideo_'+idvid+'_'+cat).closest('i').attr('id','idvideo');
		$('#tab1default_'+idvid+'_'+cat).addClass('in active');
		$('#activelitab_'+idvid+'_'+cat).addClass('active');

		$('#activeVideo').removeClass('hidden');
		$('#activeVideo').closest('i').attr('id','idvideo');


		
		$(this).parents().addClass('rm_padd_bottom');
		prev_det = true;

	}

	//ocultar seccion de active video 
	function hide_active(idvid,cat){
		$('#video_name_'+idvid+'_'+cat).removeClass('hidden');
		$('#expand-icon_'+idvid+'_'+cat).addClass('hidden');
		$('i.material-icons').closest('section').addClass('hidden');
		$('#activelitab_'+idvid+'_'+cat).removeClass('active');
	}
	</script> -->

    <script src="/static/js/jquery-2.2.4.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/headhesive.min.js"></script>
    <script src="/static/js/matchHeight.min.js"></script>
    <script src="/static/js/modernizr.custom.js"></script>
    <script src="/static/js/slick.min.js"></script>
    <script src="/static/js/venobox.min.js"></script>
    <script src="https://use.fontawesome.com/4dfd2d448a.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/custom.js"></script>
    <script src="/static/js/vendors/highlight.js"></script>
    <script src="/static/js/app.js"></script>

    <script type="text/javascript">
      function reply_click(clicked_id) {
        $(".collapse").removeClass("in");
        var selectedUrl = clicked_id.split("#")[1];
        //var prueba = selectedUrl.split('_')[0];
        //alert(selectedUrl);
      }
      
        document.getElementById('currentYear').innerHTML = new Date().getFullYear();
    
    </script>

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
