<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nativa Media</title>
</head>
<body>
<style>
    body{
        background-color:#1F1E1E;
    }
    h1{
        text-transform: uppercase;
        color: white;
        text-align: center;
        font-size:60px;
        margin-top: 230px;
    }
    
</style>
<h1>Sitio WEB <br>En Construcción</h1>
</body>
</html>