{% extends "basevideo.html" %}
{% load thumbnail %}
{% load embed_video_tags %}

{% block content %}

{% if episodio %}
	{% video episodio.link '854x480' %}
	<br>

	Temporadas <br>
	{% for temp in temporadas %}
		Temporada {{temp.temporada}} <br>
		<br>
		{% for ep in temp.episodio_set.all %}
			<a href="{% url 'episodio_detail' slug temp.temporada ep.slug %}">{{ep}}</a> <br>
		{% endfor %}
	{% endfor %}
	

{% else %}
<div class="container-fluid">
	<div class="plyr__video-embed" id="player" autoplay="true">
		{% video object.url '854x480' %}
	</div>
</div>
{% endif %}


{% endblock content %}