{% extends "base.html" %}
{% load thumbnail %}
{% load embed_video_tags %}

{% block share %}
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@FLuciernaga">
	<meta name="twitter:creator" content="@FLuciernaga">
	<meta name="twitter:title" content="{{episodio.titulo}}">
	<meta name="twitter:description" content="{{object.sinopsis|truncatechars:40|striptags}}">
	<meta name="twitter:image" content="https://nativamedia.net/media/{{object.foto}}">

	{% video episodio.link as video %}
		<meta name="twitter:image" content="{{video.thumbnail}}">
    	<meta property="og:image" content="{{video.thumbnail}}">
	{% endvideo %}

    <meta property="og:title" content="{{episodio.titulo}}" />
    <meta property="og:description" content="{{object.sinopsis|truncatechars:40|striptags}}" />
    <meta property="og:url" content="https://nativamedia.net{{request.path}}" />
    <meta property="og:locale" content="es_ES" />
{% endblock share %}

{% block content %}

<div class="page-wrap">

<div class="sidebar_episodios">
	<div class="mb-40">
		<a class="exit" ><i class="material-icons">close</i></a>
	</div>
	{% for temp in temporadas %}
		<div>
			<a class="collapse_temp" data-toggle="collapse" data-target="#{{temp.temporada}}" aria-expanded="true" aria-controls="{{temp.temporada}}" >
				Temporada {{temp.temporada}}
			</a>
			<div class="collapse container_list" id="{{temp.temporada}}">
				<ul class="list-episocios">
					{% for ep in temp.episodio_set.all|dictsort:'id' %}
						<li><a href="{% url 'episodio_detail' episodio=ep.slug temporada=temp.temporada  %}">{{ep}}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% endfor %}
	
</div>

</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="row">
				<div class="dark up-video">
					<div class="row">
						<div class="col-lg-6 col-xs-6">
							<a href="{% url 'Video_detail' video_slug%}" >
								<i class="material-icons">arrow_back</i> Inicio
							</a>
						</div>
						<div class="col-lg-6 col-xs-6 text-right">
							<a class="clickable" ><i class="material-icons">view_list</i> Episodios</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12 text-center video-content">
			{% video episodio.link '982x552' %}
		</div>
	</div>
</div>
{% endblock content %}
{% block extra_js %}
<script>
	$('.clickable').click(function(){
    	$('.sidebar_episodios').addClass("open");
	});
	$('.exit').click(function(){
    	$('.sidebar_episodios').removeClass("open");
	});
	$('.navbar').remove();
</script>
{% endblock extra_js %}
