{% extends "basevideo.html" %}
{% load thumbnail %}
{% load embed_video_tags %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="row">
				<div class="dark up-video">
					<div class="row">
						<div class="col-lg-6">
							<a href="/" >
								<i class="material-icons">arrow_back</i> Inicio
							</a>
						</div>
						{% if episodio %}
						<div class="col-lg-6 text-right">
							<div class="btn-group">
								<i class="material-icons">view_list</i> 
								<a  class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Episodios <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li><a href="{% url 'episodio_detail' slug temp.temporada ep.slug %}">{{ep}}</a></li>
								</ul>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12 text-center">
			{% video object.url '982x552' %}
		</div>
	{% comment %} {% if episodio %}
		{% video episodio.link '854x480' %}
		<br>

		Temporadas <br>
		{% for temp in temporadas %}
			Temporada {{temp.temporada}} <br>
			<br>
			{% for ep in temp.episodio_set.all %}
				<a href="{% url 'episodio_detail' slug temp.temporada ep.slug %}">{{ep}}</a> <br>
			{% endfor %}
		{% endfor %}

	{% else %} 

	{% endif %}{% endcomment %}
	</div>
</div>

{% endblock content %}
{% block extra_js %}
<script>
	function goBack() {
		window.history.back();
	}
</script>
{% endblock extra_js %}
