{% extends "base.html" %}
{% load thumbnail %}
{% load embed_video_tags %}

{% block content %}

{% for directo in v_directo|dictsort:"id"|slice:"1" %}
<div class="container section" style="margin-top:120px;">

		
	<div class="dark">
		<div class="row">
			<div class="col-sm-8 video-content">
				{% video directo.link as my_video %}
				<iframe width="100%" height="500" src="{{my_video.url}}?modestbranding=1&autoplay=1&controls=1&fs=0&loop=1&rel=0&showinfo=0&disablekb=1&mute=0" allowfullscreen allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" frameborder="0">
				</iframe>
				{% endvideo %}
			</div>
			<div class="col-sm-4">
				<h2 class="pb-10 pt-10 mb-0">Programación</h2>
				<ul class="programacion" id="progra">
					{% for programa  in directo.horaprogramacion_set.all|dictsort:'id' %}
					{% if programa.descripcion %}
						<li>
							<a class="prog{{programa.id}}" data-toggle="collapse" href="#list{{programa.id}}">
								<p>{{programa.titulo}} <span class="fa fa-chevron-down icon-rotate"></span></p>
								<time datetime="">{{programa.hora_inicio|time:"h:i a"}}
								</time>
							</a>
						</li>
						<div class="collapse p-desc" id="list{{programa.id}}" data-parent="#progra">
							{{programa.descripcion}}
						</div>
					{% else %}
						<li>
							<p>{{programa.titulo}}</p>
							<time datetime="">{{programa.hora_inicio|time:"h:i a"}}</time>
						</li>
					{% endif %}
						
						{% comment %} 
							<li class="p-desc">
								{{programa.descripcion}}
							</li>
						 {% endcomment %}
					{% endfor %}
				</ul>				
			</div>
		</div>
	</div>
	{% comment %} <div id="inline-content" style="display:none;">
		<div class="padd_15">
			<div class="col-sm-12">
				<div class="tabs movies">
					<ul>
						<li><a class="text-center" href="#wed">Programación</a></li>
						<li class="date"><span class="">{{fecha_hoy}}</span></li>
					</ul>
				</div>

				<div class="table-responsive">

				<table class="table table-dark">
					<tbody>
						{% for programa  in directo.horaprogramacion_set.all %}
							
						
						<tr>
							<th scope="row" style="vertical-align: middle;">
								<span class="time past"style="background-color: gray; border-radius: 5px;padding: 5px;color: antiquewhite;">{{programa.hora_inicio|time:"h:i a"}}</span> 
								<span class="time"style="background-color: gray;border-radius: 5px;padding: 5px;color: white;">{{programa.hora_fin|time:"h:i a"}}</span>	
							</th>
							<td>
								<h3 class="no-underline white-color">
									<span class="title">{{programa.titulo}}</span>
								</h3>
								
								
								<span class="white-color">Nicaragua</span>
							</td>
							<td style="vertical-align: middle;">
								<p>{{programa.categoria_p}}</p> 
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

				</div>
			</div>
		</div>
	</div> 
{% endcomment %}
	

</div>

{% endfor %}	
{% endblock content %}
{% block extra_js %}
	<script>

		$("a[class*='prog']").click(function(){
			$(this).toggleClass("up"); 
		});
	
	</script>
{% endblock extra_js %}
