{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
<style>
	#vidtop-content {
		top: 0;
		color: #fff;
	}
	.vid-info {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.3);
		color: #fff;
		padding: 1rem;
		font-family: Avenir, Helvetica, sans-serif;
	}
	.vid-info h1 {
		font-size: 2rem;
		font-weight: 700;
		margin-top: 25%;
		line-height: 1.2;
		border-bottom: none !important;
	}
	.vid-info a {
		display: block;
		color: #fff;
		text-decoration: none;
		background: rgba(0,0,0,0.5);
		transition: .6s background;
		border-bottom: none;
		margin: 1rem auto;
		text-align: center;
	}
	@media all and (max-width: 600px) {
		.vid-info { width: 50%; padding: .5rem; }
		.vid-info h1 { margin-bottom: .2rem; }
	}
	@media all and (max-width: 500px) {
		.vid-info .acronym { display: none; }
	}
	.index p {
		margin-top: 40px;
		color: #000 !important;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 17px;
	}
	.index a {
		color: white !important;
	}
	.btn-index {
		background: green;
	}
	.btn-index:hover {
		background: lightgreen;
		color: black;
	}
	.white-color p {
		font-style: italic;
		font-size: 18px;
		color: #333;
	}
</style>
<!-- Hero -->
<div id="hero" class="carousel slide carousel-fade" data-ride="carousel">
	
	<div class="container">
		<ol class="carousel-indicators">
			<li data-target="#hero" data-slide-to="0" class="active"></li>
			<li data-target="#hero" data-slide-to="1"></li>
			<li data-target="#hero" data-slide-to="2"></li>
		</ol>
	</div>

	<div class="carousel-inner">

	{% for bann in bann_vid %}
		{% if bann.tipo == 1 %}
			{% for banner in bann.inlinesimages_set.all%}
			{% thumbnail banner.imagen "1280x720" crop="center" as im %}
			<div class="item {% if forloop.first %} active {% endif %}" style="background-image: url('{{im.url}}')">
			{% endthumbnail %}

			<div class="container">
				<div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
					<div class="col-md-9 main-items">

						<h3 class="no-underline white-color bann_name">{{banner.titulo_img}}</h3>
						<div class="buttons top_padd_10">
							<p>
								{{banner.descripcion_img|truncatechars:100}}
							</p>

						</div>
					</div>
				</div>
			</div>
			</div>
			{% endfor %}
		{% else %}
		<div class="embed-responsive embed-responsive-16by9">
			<iframe src="https://www.youtube.com/embed/es7npgTATLY?si=gOwAInUCOMlTawea&amp;autoplay=1&amp;loop=1&amp;controls=0&amp;mute=1&amp;playsinline=1" frameborder="0" allowfullscreen></iframe>
		</div>
		<div id="vidtop-content">
			<div class="vid-info">
				<h1 class="text-center" >{{bann.titulo}}</h1>
				<p class="text-center" >{{bann.descripcion}}</p>
			</div>
		</div>
		{% endif %}
	{% endfor %}
	</div> <!-- Carousel inner end-->

</div>

<!-- Conocenos	-->
<div class="container section index" style="background-color: white; width: 100%;">
	<div class="row">
		<div class="container">
		<div class="col-md-12">
			<div class="white-color">
				<p>
					NATIVA MEDIA es una plataforma digital con contenido
					centroamericano que retrata los problemas que afectan a los
					países de la región, promueve la recuperación de la memoria
					histórica y la integración cultural de nuestros pueblos en
					búsqueda de la equidad.
				</p>
				<a href="/conocenos" class="btn btn-index pull-right">conocenos</a>
			</div>
		</div>
		</div>
	</div>
</div>
<!-- Breaking news -->
{% if ultimo_momento %}
<div class="bg-bnews" style="">
	<div class="row bnews-padding">
		<div class="container-fluid">
			<div class="col-md-1">
				<span class="badge bnews-title">Última hora:</span>
			</div>
			<div class="col-md-11">
				<div class="bnews-slider nobottommargin">
					<div class="slide flex-active-slide">
						<marquee >
							<div class="d-inline-block white-color">
								<ul class="list-inline bnew-list">
								{% for x in ultimo_momento %}
									<li><a href="{% url 'news_detail' x.slug %}">{{x}}</a></li>
								{% endfor %}
								</ul>
							</div>
						</marquee>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}

{% comment %} <div class="nuevos" >			
	<div class="container section">
		<div class="row">
			<div class="large-12 columns">
				<h2>Nuevo en Luciernaga</h2>
				<div class="owl-carousel owl-theme slick-slide">
					{% for video in dict.keys %}
					<div class="item">
						<div class="movie-poster grow">
							<aside>
								<div>
									<a href="{% if video.tipo.nombre == 'Series' %}
											{% url 'episodio_detail' video.slug video.temporada_set.first.temporada video.temporada_set.first.episodio_set.first.slug %}
											{% else %}
											{% url 'Video_detail' video.slug %}
											{% endif %}" class="play">
										<i class="material-icons">play_arrow</i>
									</a>
									<span class="date">
										{% for cat in video.categoria.all|slice:"3" %}
											<i class="material-icons" style="font-size: 8px;">fiber_manual_record</i>{{cat}}
										{% endfor%}
									</span>
									<a class="material-icons expand-more" data-toggle="collapse" href="#nuevo_{{video.id}}" onClick="reply_click(this.href)">
											keyboard_arrow_down
									</a>
									
								</div>
							</aside>
						
							{% thumbnail video.imagen "1280x720" crop="center" as im %}
							<img class="owl-lazy" data-src="{{im.url}}" data-src-retina="{{im.url}}" alt="">
							{% empty %}
							<img src="http://via.placeholder.com/1280x720 " alt="">
							{% endthumbnail %}
							
						
						</div>
						<a class="title-movie" href="{% if video.tipo.nombre == 'Series' %}
											{% url 'episodio_detail' video.slug video.temporada_set.first.temporada video.temporada_set.first.episodio_set.first.slug %}
											{% else %}
											{% url 'Video_detail' video.slug %}
											{% endif %}">
							<h4 id="" class="no-underline white-color hg_video">
								{{video.nombre}}
							</h4>
						</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	{% for video,similares in dict.items %}
	<!-- Section -->
	<section class="dark collapse" id="nuevo_{{video.id}}" data-parent="#accordion">
		<a class="close_collapse" data-toggle="collapse" data-target="#nuevo_{{video.id}}" aria-expanded="false" aria-controls="nuevo_{{video.id}}">
			<span class="material-icons">close</span>
		</a>
		<div class="container remove-bottom-padding">
			<div class="row comingSoon-slides">
				<div class="col-sm-12">
					<div role="tabpanel">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs nav-custom" role="tablist">
							<li role="presentation" class="active">
								<a href="#nuevo{{video.id}}-detalles"  aria-controls="#nuevo{{video.id}}-detalles" role="tab" data-toggle="tab">{{video.nombre}}</a>
							</li>
							{% if video.tipo.nombre == 'Series' %}
							<li role="presentation">
								<a href="#nuevo{{video.id}}-episodio" aria-controls="#nuevo{{video.id}}-episodio" role="tab" data-toggle="tab">Episodios</a>
							</li>
							{% endif %}

							{% if similares %}
							<li role="presentation">
								<a href="#nuevo{{video.id}}-similares" aria-controls="#nuevo{{video.id}}-similares" role="tab" data-toggle="tab">Similares</a>
							</li>
							{% endif %}
							
							
						</ul>
					
						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="nuevo{{video.id}}-detalles">
								<div class="row single-slide">
									<div class="col-sm-5 col-xs-12 slide-content">
										{% for cat in video.categoria.all|slice:"3" %}
										<span class="title">{{cat}}</span>{% if not forloop.last %},{% endif %}
										{% endfor%}
										<h3 class="no-underline">{{video.nombre}}</h3>
										<div class="date">
											<i class="material-icons">date_range</i> {{video.fecha|date:"d F Y"}}
											<i class="material-icons" style="margin-left: 5px;">
													av_timer
											</i>{{video.duracion}}
										</div>
										
										<p>{{video.sinopsis}}<p>
										<span class="details">Productora: {{video.produccion}}</span>
										<span class="">|</span>
										<span class="details">Pais: {{video.pais}}</span>
									</div>
									<div class="col-sm-6 col-xs-12 col-sm-push-1 slide-video">
										<a href="{% if video.tipo.nombre == 'Series' %}
											{% url 'episodio_detail' video.slug video.temporada_set.first.temporada video.temporada_set.first.episodio_set.first.slug %}
											{% else %}
											{% url 'Video_detail' video.slug %}
											{% endif %}" data-vbtype="video" class="video">
											<i class="material-icons">play_arrow</i>
											{% thumbnail video.imagen "1280x720" crop="center" as im %}
												<img src="{{ im.url }}" alt="">
											{% empty %}
												<img src="http://via.placeholder.com/1280x720 " alt="">
											{% endthumbnail %}
										</a>
									</div>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane" id="nuevo{{video.id}}-similares">
								<div class="row">
									<div class="col-sm-12 col-xs-12">
										<div class="owl-carousel owl-theme slick-slide">

											{% for similar in similares %}
												<div class="item">
													<div class="movie-poster similar grow mt-10">
														<aside>
															<div class="hover-tab">
																<a href="{% if similar.tipo.nombre == 'Series' %}
																	{% url 'episodio_detail' similar.slug similar.temporada_set.first.temporada similar.temporada_set.first.episodio_set.first.slug %}
																{% else %}
																{% url 'Video_detail' video.slug %}
																{% endif %}" class="play">
																	<i class="material-icons">play_arrow</i>
																</a>
																<span class="date">
																	{% for cat in similar.categoria.all|slice:"3" %}
																		<i class="material-icons" style="font-size: 8px;">fiber_manual_record</i>{{cat}}
																	{% endfor%}
																</span>
																
															</div>
														</aside>
													
														{% thumbnail similar.imagen "1280x720" crop="center" as im %}
														<img src="{{im.url}}" alt="">
	
														{%empty%}
														<img src="http://via.placeholder.com/1280x720" alt="">
														{% endthumbnail%}
													</div>
													<a class="title-movie" href="{% if similar.tipo.nombre == 'Series' %}
																	{% url 'episodio_detail' similar.slug similar.temporada_set.first.temporada similar.temporada_set.first.episodio_set.first.slug %}
																{% else %}
																{% url 'Video_detail' video.slug %}
																{% endif %}">
														<h4 id="" class="no-underline white-color hg_video">
															{{similar}}
														</h4>
													</a>
												</div>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
							{% if video.tipo.nombre == 'Series' %}
							<div role="tabpanel" class="tab-pane" id="nuevo{{video.id}}-episodio">
								<div class="row">
									<div class="col-sm-12 col-xs-12 slide-content">
										
										<!-- Select dropdown -->
										<select  class="form-control floorplanSelect{{video.id}}" name="floorplan">
										{% for temp in video.temporada_set.all %}
											<option value="serie{{video.id}}_temp{{temp.temporada}}">Temporada {{temp.temporada}}</option>
										{% endfor %}			
										</select>
										<!-- End Select -->	
										<div class="tab-content">
										{% for temp in video.temporada_set.all %}
											<div role="temporadas" class="tab-pane fade temptabs{{video.id}} {% if forloop.first %}active in{% endif %}" id="serie{{video.id}}_temp{{temp.temporada}}">
												<div class="row">
													<div class="col-lg-12">
														<h2 class="mb-10"></h2>
													</div>
												</div>
												<div class="owl-carousel owl-theme slick-slide">
													{% for ep in temp.episodio_set.all|dictsort:'id' %}
													
													<div class="item">
														<div class="movie-poster episodios">
															<aside>
																<div>
																	<a href="{% if video.tipo.nombre == 'Series' %}
																	{% url 'episodio_detail' video.slug video.temporada_set.first.temporada video.temporada_set.first.episodio_set.first.slug %}
																	{% else %}
																	{% url 'Video_detail' video.slug %}
																	{% endif %}" class="play">
																		<i class="material-icons">play_arrow</i>
																	</a>
																</div>
															</aside>
															{% thumbnail ep.imagen "1280x720" crop="center" as im %}
															<img class="owl-lazy" data-src="{{im.url}}" data-src-retina="{{im.url}}" alt="">
				
															{%empty%}
															<img src="http://via.placeholder.com/1280x720" alt="">
															{% endthumbnail%}
															
														</div>
														<a class="title-movie" href="{% url 'episodio_detail' video.slug temp.temporada ep.slug %}">
															<h4 class="no-underline white-color hg_video">{{ep}}</h4>
														</a>
																
													</div>
													{% endfor %}
												</div>
											</div>
										{% endfor %}
										</div>
			
									</div>
			
								</div>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endfor %}
</div> {% endcomment %}

{% for k,v in tipo.items %}
	{% if k == 'Series' %}
		<div class="series">
			<div class="container section">
				<div class="row">
					<div class="large-12 columns">
						<h2>{{k}}</h2>
						<div class="owl-carousel owl-theme slick-slide">
							{% for serie in v %}
							<div class="item">
								<div class="movie-poster grow">
									<aside>
										<div>
											<a href="{% if serie.tipo.nombre == 'Series' %}
													{% url 'episodio_detail' serie.slug serie.temporada_set.first.temporada serie.temporada_set.first.episodio_set.first.slug %}
													{% else %}
													{% url 'Video_detail' serie.slug %}
													{% endif %}" class="play">
												<i class="material-icons">play_arrow</i>
											</a>
											<span class="date">
												{% for cat in serie.categoria.all|slice:"3" %}
													<i class="material-icons" style="font-size: 8px;">fiber_manual_record</i>{{cat}}
												{% endfor%}
											</span>
											<a class="material-icons expand-more" data-toggle="collapse" href="#serie_{{serie.id}}" onClick="reply_click(this.href)">
												keyboard_arrow_down
											</a>
										</div>
									</aside>
									{% thumbnail serie.imagen "1280x720" crop="center" as im %}
									<img src="{{ im.url }}" alt="">
									{% empty %}
									<img src="http://via.placeholder.com/1280x720 " alt="">
									{% endthumbnail %}
								</div>
								<a class="title-movie" href="{% if serie.tipo.nombre == 'Series' %}
													{% url 'episodio_detail' serie.slug serie.temporada_set.first.temporada serie.temporada_set.first.episodio_set.first.slug %}
													{% else %}
													{% url 'Video_detail' serie.slug %}
													{% endif %}">
									<h4 id="" class="no-underline white-color hg_video">
										{{serie.nombre}}
									</h4>
								</a>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			{% for video,similares in v.items %}
			<section class="dark collapse" id="serie_{{video.id}}" data-parent="#accordion">
				<a class="close_collapse" data-toggle="collapse" data-target="#serie_{{video.id}}" aria-expanded="false" aria-controls="nuevo_{{video.id}}">
					<span class="material-icons">close</span>
				</a>
				<div class="container remove-bottom-padding">
					<div class="row comingSoon-slides">
						<div class="col-sm-12">
							<div role="tabpanel">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs nav-custom" role="tablist">
									<li role="presentation" class="active">
										<a href="#serie{{video.id}}-detalles" aria-controls="#serie{{video.id}}-detalles" role="tab" data-toggle="tab">{{video.nombre}}</a>
									</li>
									<li role="presentation">
										<a href="#serie{{video.id}}-episodio" aria-controls="#serie{{video.id}}-episodio" role="tab" data-toggle="tab">Episodios</a>
									</li>
									{% if similares %}
									<li role="presentation">
										<a href="#serie{{video.id}}-similares" aria-controls="#serie{{video.id}}-similares" role="tab" data-toggle="tab">Similares</a>
									</li>
									{% endif %}		
								</ul>
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="serie{{video.id}}-detalles">
										<div class="row single-slide">
											<div class="col-sm-5 col-xs-12 slide-content">
												{% for cat in video.categoria.all|slice:"3" %}
												<span class="title">{{cat}}</span>{% if not forloop.last %},{% endif %}
												{% endfor%}
												<h3 class="no-underline">{{video.nombre}}</h3>
												<div class="date">
													<i class="material-icons">date_range</i> {{video.fecha|date:"d F Y"}}
													<i class="material-icons" style="margin-left: 5px;">
															av_timer
													</i>{{video.duracion}}
												</div>
												
												<p>{{video.sinopsis}}<p>
												<span class="details">Productora: {{video.produccion}}</span>
												<span class="">|</span>
												<span class="details">Pais: {{video.pais}}</span>
											</div>
											<div class="col-sm-6 col-xs-12 col-sm-push-1 slide-video">
												<a href="{% if video.tipo.nombre == 'Series' %}
															{% url 'episodio_detail' video.slug video.temporada_set.first.temporada video.temporada_set.first.episodio_set.first.slug %}
															{% else %}
															{% url 'Video_detail' video.slug %}
															{% endif %}"  class="video">
													<i class="material-icons">play_arrow</i>
													{% thumbnail video.imagen "1280x720" crop="center" as im %}
														<img class="owl-lazy" src="{{im.url}}" data-src-retina="{{im.url}}" alt="">
													{% empty %}
														<img src="http://via.placeholder.com/1280x720 " alt="">
													{% endthumbnail %}
												</a>
											</div>
										</div>
									</div>
									{% if k == 'Series' %}
									<div role="tabpanel" class="tab-pane" id="serie{{video.id}}-episodio">
										<div class="row">
											<div class="col-sm-12 col-xs-12 slide-content">
												<!-- Select dropdown -->
												<select class="form-control serieselect{{video.id}}" name="floorplan">
												{% for temp in video.temporada_set.all %}
													<option value="serietabs{{video.id}}_temp{{temp.temporada}}">Temporada {{temp.temporada}}</option>
												{% endfor %}			
												</select>
												<!-- End Select -->									
												<div class="tab-content">
												{% for temp in video.temporada_set.all %}
													<div role="seretemporadas" class="tab-pane fade serietabs{{video.id}} {% if forloop.first %}active in{% endif %}" id="serietabs{{video.id}}_temp{{temp.temporada}}">
														<div class="row">
															<div class="col-lg-12">
																<h2 class="mb-10"></h2>
															</div>
														</div>
														<div class="owl-carousel owl-theme slick-slide">
															{% for ep in temp.episodio_set.all|dictsort:'id' %}
															
															<div class="item">
																<div class="movie-poster episodios">
																	<aside>
																		<div>
																			<a href="{% url 'episodio_detail' video.slug temp.temporada ep.slug %}" class="play">
																				<i class="material-icons">play_arrow</i>
																			</a>
																		</div>
																	</aside>
																	{% thumbnail ep.imagen "1280x720" crop="center" as im %}
																	<img class="owl-lazy" data-src="{{im.url}}" data-src-retina="{{im.url}}" alt="">
						
																	{%empty%}
																	<img src="http://via.placeholder.com/1280x720" alt="">
																	{% endthumbnail%}
																	
																</div>
																<a class="title-movie" href="{% url 'episodio_detail' video.slug temp.temporada ep.slug %}">
																	<h4 class="no-underline white-color hg_video">{{ep}}</h4>
																</a>
																		
															</div>
															{% endfor %}
														</div>
													</div>
												{% endfor %}
												</div>
					
											</div>
					
										</div>
									</div>
									{% endif %}
									<div role="tabpanel" class="tab-pane" id="serie{{video.id}}-similares">
										<div class="row">
											<div class="col-sm-12 col-xs-12">
												<div class="owl-carousel owl-theme slick-slide">

													{% for similar in similares %}
														<div class="item">
															<div class="movie-poster similar grow mt-10">
																<aside>
																	<div class="hover-tab">
																		<a href="{% if similar.tipo.nombre == 'Series' %}
																			{% url 'episodio_detail' similar.slug similar.temporada_set.first.temporada similar.temporada_set.first.episodio_set.first.slug %}
																		{% else %}
																		{% url 'Video_detail' video.slug %}
																		{% endif %}" class="play">
																			<i class="material-icons">play_arrow</i>
																		</a>
																		<span class="date">
																			{% for cat in similar.categoria.all|slice:"3" %}
																				<i class="material-icons" style="font-size: 8px;">fiber_manual_record</i>{{cat}}
																			{% endfor%}
																		</span>
																		
																	</div>
																</aside>
															
																{% thumbnail similar.imagen "1280x720" crop="center" as im %}
																<img src="{{im.url}}" alt="">

																{%empty%}
																<img src="http://via.placeholder.com/1280x720" alt="">
																{% endthumbnail%}
															</div>
															<a class="title-movie" href="{% if similar.tipo.nombre == 'Series' %}
																			{% url 'episodio_detail' similar.slug similar.temporada_set.first.temporada similar.temporada_set.first.episodio_set.first.slug %}
																		{% else %}
																		{% url 'Video_detail' similar.slug %}
																		{% endif %}">
																<h4 id="" class="no-underline white-color hg_video">
																	{{similar}}
																</h4>
															</a>
														</div>
													{% endfor %}
												</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>
			{% endfor %}
		</div>
	{% else %}
		<div class="{{k}}">
			<!-- peliculas -->
			<div class="container section">
				<div class="row">
					<div class="large-12 columns">
						<h2>{{k}}</h2>
						<div class="owl-carousel owl-theme slick-slide">
							{% for peli in v %}
							<div class="item">
								<div class="movie-poster grow">
									<aside>
										<div>
											<a href="{% url 'Video_detail' peli.slug %}" class="play">
												<i class="material-icons">play_arrow</i>
											</a>
											<span class="date">
												{% for cat in peli.categoria.all|slice:"3" %}
													<i class="material-icons" style="font-size: 8px;">fiber_manual_record</i>{{cat}}
												{% endfor%}
											</span>
											<a class="material-icons expand-more" data-toggle="collapse" href="#peli_{{peli.id}}" onClick="reply_click(this.href)">
													keyboard_arrow_down
											</a>
											
										</div>
									</aside>
								
									{% thumbnail peli.imagen "1280x720" crop="center" as im %}
									<img src="{{ im.url }}" alt="">
									{% empty %}
									<img src="http://via.placeholder.com/1280x720 " alt="">
									{% endthumbnail %}
									
								
								</div>
								<a class="title-movie" href="{% url 'Video_detail' peli.slug %}">
									<h4 id="" class="no-underline white-color hg_video">
										{{peli.nombre}}
									</h4>
								</a>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			{% for video,similares in v.items %}
			<section class="dark collapse" id="peli_{{video.id}}" data-parent="#accordion">
				<a class="close_collapse" data-toggle="collapse" data-target="#peli_{{video.id}}" aria-expanded="false" aria-controls="nuevo_{{video.id}}">
					<span class="material-icons">close</span>
				</a>
				<div class="container remove-bottom-padding">
					<div class="row comingSoon-slides">
						<div class="col-sm-12">
							<div role="tabpanel">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs nav-custom" role="tablist">
									<li role="presentation" class="active">
										<a href="#peli{{video.id}}-detalles" aria-controls="#peli{{video.id}}-detalles" role="tab" data-toggle="tab">{{video.nombre}}</a>
									</li>
									{% if similares %}
									<li role="presentation">
										<a href="#peli{{video.id}}-similares" aria-controls="#peli{{video.id}}-similares" role="tab" data-toggle="tab">Similares</a>
									</li>
									{% endif %}
									
								</ul>
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="peli{{video.id}}-detalles">
										<div class="row single-slide">
											<div class="col-sm-5 col-xs-12 slide-content">
												{% for cat in video.categoria.all|slice:"3" %}
												<span class="title">{{cat}}</span>{% if not forloop.last %},{% endif %}
												{% endfor%}
												<h3 class="no-underline">{{video.nombre}}</h3>
												<div class="date">
													<i class="material-icons">date_range</i> {{video.fecha|date:"d F Y"}}
													<i class="material-icons" style="margin-left: 5px;">
															av_timer
													</i>{{video.duracion}}
												</div>
												
												<p>{{video.sinopsis}}<p>
												<span class="details">Productora: {{video.produccion}}</span>
												<span class="">|</span>
												<span class="details">Pais: {{video.pais}}</span>
											</div>
											<div class="col-sm-6 col-xs-12 col-sm-push-1 slide-video">
												<a href="{% url 'Video_detail' video.slug %}" data-vbtype="video" class="video">
													<i class="material-icons">play_arrow</i>
													{% thumbnail video.imagen "1280x720" crop="center" as im %}
														<img src="{{ im.url }}" alt="">
													{% empty %}
														<img src="http://via.placeholder.com/1280x720 " alt="">
													{% endthumbnail %}
												</a>
											</div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="peli{{video.id}}-similares">
										<div class="row">
											<div class="col-sm-12 col-xs-12">
												<div class="owl-carousel owl-theme slick-slide">
													{% for similar in similares %}
													<div class="item">
														<div class="movie-poster grow mt-10">
															<aside>
																<div class="hover-tab">
																	<a href="{% url 'Video_detail' similar.slug %}" class="play">
																		<i class="material-icons">play_arrow</i>
																	</a>
																	<span class="date">
																		{% for cat in similar.categoria.all|slice:"3" %}
																			<i class="material-icons" style="font-size: 8px;">fiber_manual_record</i>{{cat}}
																		{% endfor%}
																	</span>
																	
																</div>
															</aside>
														
															{% thumbnail similar.imagen "1280x720" crop="center" as im %}
															<img src="{{im.url}}" alt="">
		
															{%empty%}
															<img src="http://via.placeholder.com/1280x720" alt="">
															{% endthumbnail%}
															
														
														</div>
														<a class="title-movie" href="{% url 'Video_detail' similar.slug %}">
															<h4 id="" class="no-underline white-color hg_video">
																{{similar}}
															</h4>
														</a>
													</div>
											{% endfor %}
												</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>
			{% endfor %}
		</div>
	{% endif %}
{% endfor %}

{% endblock content %}

{% block extra_js %}
<script>
	$(document).ready(function(){
		$('.owl-carousel').owlCarousel({
			loop: false,
			rewind: true,
			margin: 10,
			responsiveClass: true,
			nav: true,
			lazyLoad:true,
			responsive: {
				0: {
					items: 1,
					nav: true,
					margin: 20
				},
				600: {
					items: 1,
					nav: true,
					margin: 20
				},
				760: {
					items: 3,
					nav: true,
					margin: 20
				},
				1000: {
					items: 4,
					loop: false,
					margin: 20
				}
			}
		});

	});
	</script>
{% for k,v in tipo.items %}
	{% if k == 'Series' %}
		{% for video in v %}
		<script type="text/javascript">

			$('.floorplanSelect{{video.id}}').on('change', function(e) {
				$('.temptabs{{video.id}}').removeClass('active in')
				$('#' + $(e.currentTarget).val()).addClass("active in");
			})

			$('.serieselect{{video.id}}').on('change', function(e) {
				$('.serietabs{{video.id}}').removeClass('active in')
				$('#' + $(e.currentTarget).val()).addClass("active in");
			})
		</script>
		{% endfor %}
	{% endif %}
{% endfor %}

	
{% endblock extra_js %}
