{% extends "base.html" %}
{% load thumbnail %}

{% block content %}

<!-- Hero -->
<div id="hero" class="carousel slide carousel-fade" data-ride="carousel">
	
	<div class="container">	
		<ol class="carousel-indicators">
			<li data-target="#hero" data-slide-to="0" class="active"></li>
			<li data-target="#hero" data-slide-to="1"></li>
			<li data-target="#hero" data-slide-to="2"></li>
		</ol>
	</div>
	
	<div class="carousel-inner">

		{% for banner in bann_vid %}
		
		{% thumbnail banner.imagen "1350x600" crop="center" as im %}	
		<div class="item {% if forloop.first %} active {% endif %}" style="background-image: url({{im.url}})">
		{% endthumbnail %}	
			<div class="container">
				<div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
					<div class="col-md-9 main-items">
						
						<h3 class="no-underline white-color bann_name">{{banner}}</h3>
						<div class="buttons top_padd_10">
							<div>
								{% for cat in banner.categoria.all|slice:"3" %}
								<span class="title">{{cat}}</span>{% if not forloop.last %},{% endif %}
								{% endfor%}
							</div>
							<p style="width:500px">
								{{banner.sinopsis|truncatechars:100}}
							</p>
							
							<a href="{% if banner.tipo == 1 %} {{banner.url}} {% else %} {% endif %} " data-vbtype="video" class="btn btn-default">
								<i class="material-icons">play_arrow</i>
								<span>Reproducir</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>


		{% endfor %}

	</div>
</div>


<div class="nuevos" >			
	<div class="container section">
		<div class="row">
			<div class="large-12 columns">
				<h2>Nuevo en Luciernaga</h2>
				<div class="owl-carousel owl-theme slick-slide">
					{% for video in dict.keys %}
					<div class="movie-poster grow">
						<aside>
							<div>
								<a href="{% url 'Video_detail' video.slug %}" class="play">
									<i class="material-icons">play_arrow</i>
								</a>
								<a class="titulo">{{video.nombre}}</a>
								<span class="date">
									{% for cat in video.categoria.all|slice:"3" %}
										<i class="material-icons" style="font-size: 8px;">fiber_manual_record</i>{{cat}}
									{% endfor%}
								</span>
								<a class="material-icons expand-more" data-toggle="collapse" href="#nuevo_{{video.id}}" onClick="reply_click(this.href)">
										keyboard_arrow_down
								</a>
								
							</div>
						</aside>
					
						{% thumbnail video.imagen "1280x720" crop="center" as im %}
						<img src="{{ im.url }}" alt="">
						{% empty %}
						<img src="http://via.placeholder.com/1280x720 " alt="">
						{% endthumbnail %}
						
					
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	{% for video,similares in dict.items %}
	<!-- Section -->
	<section class="dark collapse" id="nuevo_{{video.id}}" data-parent="#accordion">
		<a class="close_collapse" data-toggle="collapse" data-target="#nuevo_{{video.id}}" aria-expanded="false" aria-controls="nuevo_{{video.id}}">
			<span class="material-icons">close</span>
		</a>
		<div class="container remove-bottom-padding">
			<div class="row comingSoon-slides">
				<div class="col-sm-12">
					<div role="tabpanel">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs nav-custom" role="tablist">
							<li role="presentation" class="active">
								<a href="#nuevo{{video.id}}-detalles"  aria-controls="#nuevo{{video.id}}-detalles" role="tab" data-toggle="tab">{{video.nombre}}</a>
							</li>
							{% if video.tipo.nombre == 'Series' %}
							<li role="presentation">
								<a href="#nuevo{{video.id}}-episodio" aria-controls="#nuevo{{video.id}}-episodio" role="tab" data-toggle="tab">Episodios</a>
							</li>
							{% endif %}

							{% if similares %}
							<li role="presentation">
								<a href="#nuevo{{video.id}}-similares" aria-controls="#nuevo{{video.id}}-similares" role="tab" data-toggle="tab">Similares</a>
							</li>
							{% endif %}
							
							
						</ul>
					
						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="nuevo{{video.id}}-detalles">
								<div class="row single-slide">
									<div class="col-sm-5 col-xs-12 slide-content">
										{% for cat in video.categoria.all|slice:"3" %}
										<span class="title">{{cat}}</span>{% if not forloop.last %},{% endif %}
										{% endfor%}
										<h3 class="no-underline">{{video.nombre}}</h3>
										<div class="date">
											<i class="material-icons">date_range</i> {{video.fecha|date:"d F Y"}}
											<i class="material-icons" style="margin-left: 5px;">
													av_timer
											</i>{{video.duracion}}
										</div>
										
										<p>{{video.sinopsis}}<p>
										<span class="details">Productora: {{video.produccion}}</span>
										<span class="">|</span>
										<span class="details">Pais: {{video.pais}}</span>
									</div>
									<div class="col-sm-6 col-xs-12 col-sm-push-1 slide-video">
										<a href="{% url 'Video_detail' video.slug %}" data-vbtype="video" class="video">
											<i class="material-icons">play_arrow</i>
											{% thumbnail video.imagen "1280x720" crop="center" as im %}
												<img src="{{ im.url }}" alt="">
											{% empty %}
												<img src="http://via.placeholder.com/1280x720 " alt="">
											{% endthumbnail %}
										</a>
									</div>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane" id="nuevo{{video.id}}-similares">
								<div class="row">
									<div class="col-sm-12 col-xs-12">
										<div class="owl-carousel owl-theme slick-slide">

											{% for similar in similares %}
											
													<div class="movie-poster grow">
														<aside>
															<div>
																<a href="{% if similar.tipo.nombre == 'Series' %}
																	{% url 'episodio_detail' similar.slug similar.temporada_set.first.temporada similar.temporada_set.first.episodio_set.first.slug %}
																{% else %}
																{% url 'Video_detail' video.slug %}
																{% endif %}" class="play">
																	<i class="material-icons">play_arrow</i>
																</a>
																<a class="titulo">{{similar}}</a>
																<span class="date">
																	{% for cat in similar.categoria.all|slice:"3" %}
																		<i class="material-icons" style="font-size: 8px;">fiber_manual_record</i>{{cat}}
																	{% endfor%}
																</span>
																
															</div>
														</aside>
													
														{% thumbnail similar.imagen "1280x720" crop="center" as im %}
														<img src="{{im.url}}" alt="">
	
														{%empty%}
														<img src="http://via.placeholder.com/1280x720" alt="">
														{% endthumbnail%}
														
													
													</div>
											{% endfor %}
			
			
			
											<!--{% for sim_vid in video.categoria_set.all %}
											<h1>{{sim_vid}}</h1>
											{% if sim_vid.id != video.id%}
											<div class="item">
			
												<div>
													<a href="#">
														{% thumbnail sim_vid.imagen "256x340" crop="center" as im %}
														<img src="{{im.url}}" alt="">
			
														{%empty%}
														<img src="http://via.placeholder.com/265x340" alt="">
														{% endthumbnail%}
													</a>
													<h4 class="left no-underline"> {{sim_vid}}</h4>
												</div>
			
											</div>
			
											{% endif %}
											{% endfor %}-->
										</div>
									</div>
								</div>
							</div>
							{% if video.tipo.nombre == 'Series' %}
							<div role="tabpanel" class="tab-pane" id="nuevo{{video.id}}-episodio">
								<div class="row">
									<div class="col-sm-12 col-xs-12 slide-content">
										<!-- dropdown inline de temporada y cap -->
										<div>
											<!--<div class="d-inline-block">
												<div class="dropdown show">
													<a class="btn btn-secondary dropdown-toggle light_hover" href="#" role="button" id="dropdownSeason" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														Temporada
														<i class="material-icons">arrow_drop_down</i>
													</a>
			
													<div class="dropdown-menu" aria-labelledby="dropdownSeason">
														{% for temp in video.temporada_set.all %}
															<a class="dropdown-item {% if forloop.first %}active{% endif %}" href="#">{{temp.temporada}}</a>
														{% endfor %}
													</div>
												</div>
											</div>-->
			
											<!--<div class="d-inline-block">
			
												<div class="dropdown show">
													<a class="btn btn-secondary dropdown-toggle light_hover" href="#" role="button" id="dropdownSeason" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														Episodio <i class="material-icons">arrow_drop_down</i>
													</a>
			
													<div class="dropdown-menu" aria-labelledby="dropdownSeason">
														<a class="dropdown-item active" href="#">1</a>
														<a class="dropdown-item" href="#">2</a>
														<a class="dropdown-item" href="#">3</a>
													</div>
												</div>
											</div>-->
										</div>
							
										{% for temp in video.temporada_set.all %}
			
										<h1>Temporada {{temp.temporada}}</h1>
										<div class="owl-carousel owl-theme">
											{% for ep in temp.episodio_set.all %}
											<div class="item">
												<div>
			
													<a href="{% url 'episodio_detail' video.slug temp.temporada ep.slug %}">
														{% thumbnail ep.imagen "256x340" crop="center" as im %}
														<img src="{{im.url}}" alt="">
			
														{%empty%}
														<img src="http://via.placeholder.com/265x340" alt="">
														{% endthumbnail%}
													</a>
													<h4 class="left no-underline"> {{ep}}</h4>
												</div>
			
											</div>
											{% endfor %}
										</div>
			
										{% endfor %}
			
									</div>
			
								</div>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endfor %}
</div>

{% for k,v in tipo.items %}
	{% if k == 'Series' %}
		<div class="series">
			<div class="container section">
				<div class="row">
					<div class="large-12 columns">
						<h2>{{k}}</h2>
						<div class="owl-carousel owl-theme slick-slide">
							{% for serie in v %}
							<div class="movie-poster grow">
								<aside>
									<div>
										<a href="" class="play">
											<i class="material-icons">play_arrow</i>
										</a>
										<a class="titulo">{{serie.nombre}}</a>
										<span class="date">
											{% for cat in serie.categoria.all|slice:"3" %}
												<i class="material-icons" style="font-size: 8px;">fiber_manual_record</i>{{cat}}
											{% endfor%}
										</span>
										<a class="material-icons expand-more" data-toggle="collapse" href="#serie_{{serie.id}}" onClick="reply_click(this.href)">
											keyboard_arrow_down
										</a>
									</div>
								</aside>
								{% thumbnail serie.imagen "1280x720" crop="center" as im %}
								<img src="{{ im.url }}" alt="">
								{% empty %}
								<img src="http://via.placeholder.com/1280x720 " alt="">
								{% endthumbnail %}
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			{% for video in v %}
			<section class="dark collapse" id="serie_{{video.id}}" data-parent="#accordion">
				<a class="close_collapse" data-toggle="collapse" data-target="#serie_{{video.id}}" aria-expanded="false" aria-controls="nuevo_{{video.id}}">
					<span class="material-icons">close</span>
				</a>
				<div class="container remove-bottom-padding">
					<div class="row comingSoon-slides">
						<div class="col-sm-12">
							<div role="tabpanel">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs nav-custom" role="tablist">
									<li role="presentation" class="active">
										<a href="#serie{{video.id}}-detalles" aria-controls="#serie{{video.id}}-detalles" role="tab" data-toggle="tab">{{video.nombre}}</a>
									</li>
									<li role="presentation">
										<a href="#serie{{video.id}}-episodio" aria-controls="#serie{{video.id}}-episodio" role="tab" data-toggle="tab">Episodios</a>
									</li>
									<li role="presentation">
										<a href="#serie{{video.id}}-similares" aria-controls="#serie{{video.id}}-similares" role="tab" data-toggle="tab">Similares</a>
									</li>
								</ul>
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="serie{{video.id}}-detalles">
										<div class="row single-slide">
											<div class="col-sm-5 col-xs-12 slide-content">
												{% for cat in video.categoria.all|slice:"3" %}
												<span class="title">{{cat}}</span>{% if not forloop.last %},{% endif %}
												{% endfor%}
												<h3 class="no-underline">{{video.nombre}}</h3>
												<div class="date">
													<i class="material-icons">date_range</i> {{video.fecha|date:"d F Y"}}
													<i class="material-icons" style="margin-left: 5px;">
															av_timer
													</i>{{video.duracion}}
												</div>
												
												<p>{{video.sinopsis}}<p>
												<span class="details">Productora: {{video.produccion}}</span>
												<span class="">|</span>
												<span class="details">Pais: {{video.pais}}</span>
											</div>
											<div class="col-sm-6 col-xs-12 col-sm-push-1 slide-video">
												<a href="{% url 'Video_detail' video.slug %}" data-vbtype="video" class="video">
													<i class="material-icons">play_arrow</i>
													{% thumbnail video.imagen "1280x720" crop="center" as im %}
														<img src="{{ im.url }}" alt="">
													{% empty %}
														<img src="http://via.placeholder.com/1280x720 " alt="">
													{% endthumbnail %}
												</a>
											</div>
										</div>
									</div>
									{% if k == 'Series' %}
									<div role="tabpanel" class="tab-pane" id="serie{{video.id}}-episodio">
										<div class="row">
											<div class="col-sm-12 col-xs-12 slide-content">
												<!-- dropdown inline de temporada y cap -->
												<!--<div>
													<div class="d-inline-block">
														<div class="dropdown show">
															<a class="btn btn-secondary dropdown-toggle light_hover" href="#" role="button" id="dropdownSeason" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																Temporada
																<i class="material-icons">arrow_drop_down</i>
															</a>
					
															<div class="dropdown-menu" aria-labelledby="dropdownSeason">
																<a class="dropdown-item active" href="#">1</a>
																<a class="dropdown-item" href="#">2</a>
																<a class="dropdown-item" href="#">3</a>
															</div>
														</div>
													</div>
					
													<div class="d-inline-block">
					
														<div class="dropdown show">
															<a class="btn btn-secondary dropdown-toggle light_hover" href="#" role="button" id="dropdownSeason" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																Episodio <i class="material-icons">arrow_drop_down</i>
															</a>
					
															<div class="dropdown-menu" aria-labelledby="dropdownSeason">
																<a class="dropdown-item active" href="#">1</a>
																<a class="dropdown-item" href="#">2</a>
																<a class="dropdown-item" href="#">3</a>
															</div>
														</div>
													</div>
												</div>-->
									
												{% for temp in video.temporada_set.all %}
					
												<h1>Temporada {{temp.temporada}}</h1>
												<div class="owl-carousel owl-theme">
													{% for ep in temp.episodio_set.all %}
													<div class="item">
														<div>
					
															<a href="{% url 'episodio_detail' video.slug temp.temporada ep.slug %}">
																{% thumbnail ep.imagen "256x340" crop="center" as im %}
																<img src="{{im.url}}" alt="">
					
																{%empty%}
																<img src="http://via.placeholder.com/265x340" alt="">
																{% endthumbnail%}
															</a>
															<h4 class="left no-underline"> {{ep}}</h4>
														</div>
					
													</div>
													{% endfor %}
												</div>
					
												{% endfor %}
					
											</div>
					
										</div>
									</div>
									{% endif %}
									<div role="tabpanel" class="tab-pane" id="serie{{video.id}}-similares">
										<div class="row">
											<div class="col-sm-12 col-xs-12">
												<div class="owl-carousel owl-theme slick-slide">
													{% for similar in similares %}
											
													<div class="movie-poster grow">
														<aside>
															<div>
																<a href="{% url 'episodio_detail' similar.slug similar.temporada_set.first.temporada similar.temporada_set.first.episodio_set.first.slug %}" class="play">
																	<i class="material-icons">play_arrow</i>
																</a>
																<a class="titulo">{{similar}}</a>
																<span class="date">
																	{% for cat in similar.categoria.all|slice:"3" %}
																		<i class="material-icons" style="font-size: 8px;">fiber_manual_record</i>{{cat}}
																	{% endfor%}
																</span>
																
															</div>
														</aside>
													
														{% thumbnail similar.imagen "1280x720" crop="center" as im %}
														<img src="{{im.url}}" alt="">
	
														{%empty%}
														<img src="http://via.placeholder.com/1280x720" alt="">
														{% endthumbnail%}
														
													
													</div>
											{% endfor %}
					
					
					
													<!--{% for sim_vid in video.categoria_set.all %}
													<h1>{{sim_vid}}</h1>
													{% if sim_vid.id != video.id%}
													<div class="item">
					
														<div>
															<a href="#">
																{% thumbnail sim_vid.imagen "256x340" crop="center" as im %}
																<img src="{{im.url}}" alt="">
					
																{%empty%}
																<img src="http://via.placeholder.com/265x340" alt="">
																{% endthumbnail%}
															</a>
															<h4 class="left no-underline"> {{sim_vid}}</h4>
														</div>
					
													</div>
					
													{% endif %}
													{% endfor %}-->
												</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>
			{% endfor %}
		</div>
	{% else %}
		<div class="{{k}}">
			<!-- peliculas -->
			<div class="container section">
				<div class="row">
					<div class="large-12 columns">
						<h2>{{k}}</h2>
						<div class="owl-carousel owl-theme slick-slide">
							{% for peli in v %}
							<div class="movie-poster grow">
								<aside>
									<div>
										<a href="" class="play">
											<i class="material-icons">play_arrow</i>
										</a>
										<a class="titulo">{{peli.nombre}}</a>
										<span class="date">
											{% for cat in peli.categoria.all|slice:"3" %}
												<i class="material-icons" style="font-size: 8px;">fiber_manual_record</i>{{cat}}
											{% endfor%}
										</span>
										<a class="material-icons expand-more" data-toggle="collapse" href="#peli_{{peli.id}}" onClick="reply_click(this.href)">
												keyboard_arrow_down
										</a>
										
									</div>
								</aside>
							
								{% thumbnail peli.imagen "1280x720" crop="center" as im %}
								<img src="{{ im.url }}" alt="">
								{% empty %}
								<img src="http://via.placeholder.com/1280x720 " alt="">
								{% endthumbnail %}
								
							
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>



			{% for video,similares in v.items %}


			<section class="dark collapse" id="peli_{{video.id}}" data-parent="#accordion">
				<a class="close_collapse" data-toggle="collapse" data-target="#peli_{{video.id}}" aria-expanded="false" aria-controls="nuevo_{{video.id}}">
					<span class="material-icons">close</span>
				</a>
				<div class="container remove-bottom-padding">
					<div class="row comingSoon-slides">
						<div class="col-sm-12">
							<div role="tabpanel">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs nav-custom" role="tablist">
									<li role="presentation" class="active">
										<a href="#peli{{video.id}}-detalles" aria-controls="#peli{{video.id}}-detalles" role="tab" data-toggle="tab">{{video.nombre}}</a>
									</li>
									{% if similares %}
									<li role="presentation">
										<a href="#peli{{video.id}}-similares" aria-controls="#peli{{video.id}}-similares" role="tab" data-toggle="tab">Similares</a>
									</li>
									{% endif %}
									
								</ul>
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="peli{{video.id}}-detalles">
										<div class="row single-slide">
											<div class="col-sm-5 col-xs-12 slide-content">
												{% for cat in video.categoria.all|slice:"3" %}
												<span class="title">{{cat}}</span>{% if not forloop.last %},{% endif %}
												{% endfor%}
												<h3 class="no-underline">{{video.nombre}}</h3>
												<div class="date">
													<i class="material-icons">date_range</i> {{video.fecha|date:"d F Y"}}
													<i class="material-icons" style="margin-left: 5px;">
															av_timer
													</i>{{video.duracion}}
												</div>
												
												<p>{{video.sinopsis}}<p>
												<span class="details">Productora: {{video.produccion}}</span>
												<span class="">|</span>
												<span class="details">Pais: {{video.pais}}</span>
											</div>
											<div class="col-sm-6 col-xs-12 col-sm-push-1 slide-video">
												<a href="{% url 'Video_detail' video.slug %}" data-vbtype="video" class="video">
													<i class="material-icons">play_arrow</i>
													{% thumbnail video.imagen "1280x720" crop="center" as im %}
														<img src="{{ im.url }}" alt="">
													{% empty %}
														<img src="http://via.placeholder.com/1280x720 " alt="">
													{% endthumbnail %}
												</a>
											</div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="peli{{video.id}}-similares">
										<div class="row">
											<div class="col-sm-12 col-xs-12">
												<div class="owl-carousel owl-theme slick-slide">
													{% for similar in similares %}
											
													<div class="movie-poster grow">
														<aside>
															<div>
																<a href="{% url 'Video_detail' video.slug %}" class="play">
																	<i class="material-icons">play_arrow</i>
																</a>
																<a class="titulo">{{similar}}</a>
																<span class="date">
																	{% for cat in similar.categoria.all|slice:"3" %}
																		<i class="material-icons" style="font-size: 8px;">fiber_manual_record</i>{{cat}}
																	{% endfor%}
																</span>
																
															</div>
														</aside>
													
														{% thumbnail similar.imagen "1280x720" crop="center" as im %}
														<img src="{{im.url}}" alt="">
	
														{%empty%}
														<img src="http://via.placeholder.com/1280x720" alt="">
														{% endthumbnail%}
														
													
													</div>
											{% endfor %}
					
					
					
													<!--{% for sim_vid in video.categoria_set.all %}
													<h1>{{sim_vid}}</h1>
													{% if sim_vid.id != video.id%}
													<div class="item">
					
														<div>
															<a href="#">
																{% thumbnail sim_vid.imagen "256x340" crop="center" as im %}
																<img src="{{im.url}}" alt="">
					
																{%empty%}
																<img src="http://via.placeholder.com/265x340" alt="">
																{% endthumbnail%}
															</a>
															<h4 class="left no-underline"> {{sim_vid}}</h4>
														</div>
					
													</div>
					
													{% endif %}
													{% endfor %}-->
												</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>
			{% endfor %}
		</div>
	{% endif %}
{% endfor %}

{% endblock content %}

{% block extra_js %}

{% endblock extra_js %}
