{% extends "base.html" %}
{% load thumbnail %}
{%load el_pagination_tags %}

{% block content %}

<!-- banner -->

<div id="hero" class="carousel slide carousel-fade" data-ride="carousel">

	<!-- Indicators
	<div class="container">	
		<ol class="carousel-indicators">
			{% for news in banner %}
			<li data-target="#hero" data-slide-to="1" class="{% if forloop.first %}active{% endif %}"></li>
			{% endfor %}
		</ol>
	</div> -->

	<div class="container">	
		<ol class="carousel-indicators">
			<li data-target="#hero" data-slide-to="0" class="active"></li>
			<li data-target="#hero" data-slide-to="1"></li>
			<li data-target="#hero" data-slide-to="2"></li>
		</ol>
	</div>
	
	<!-- Wrapper for slides -->
	<div class="carousel-inner">

		{% for news in banner %}
		{% if news.banner %}
			{% thumbnail news.banner "1280x720" crop="center" as im %}
			<div class="item {% if forloop.first %}active{% endif %} " style="background-image: url({{im.url}})">
			{% endthumbnail %}
		{% elif news.foto %}
			{% thumbnail news.foto "1280x720" crop="center" as im %}
			<div class="item {% if forloop.first %}active{% endif %} " style="background-image: url({{im.url}})">
			{% endthumbnail %}
		{% endif %}

		
			<div class="container">
				<div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
					<div class="col-md-9 main-items">

						<h3 class="no-underline white-color bann_name">{{news}}</h3>
						<p class="bann_name">{{news.descripcion|safe|striptags|truncatechars:100}}</p>

						<div class="buttons top_padd_20 ">

							<a href="{% url 'news_detail' news.slug %}" class="btn btn-ghost"><span>Leer más</span></a>

						</div>						
					</div>
				</div>
			</div>
		</div>

		{% endfor %}

	</div>

</div>

<!-- contenido -->

<div class="container section news">
	<div class="row">
		<div class="col-sm-9">
			{% paginate 5 news_list %}
			{% for all_news in news_list %}
			<div class="row">
				<article class="col-lg-12">
					<span class="categories">{{all_news.categoria}}</span>
	
					<h2 class="no-underline"><a href="{% url 'news_detail' all_news.slug %}" class="white-color">{{all_news}}</a></h2>
					<div class="row">
						<div class="col-sm-4">
							<a href="{% url 'news_detail' all_news.slug %}" class="img">
								<aside>
									<div>
										<i class="material-icons">link</i>
										<span class="date">{{all_news.fecha|date:"d"}} {{all_news.fecha|date:"M"}}, {{all_news.fecha|date:"Y"}} por {{all_news.autor}}</span>
									</div>
								</aside>
								{% if all_news.foto %}
									{% thumbnail all_news.foto "200" crop="center" as im%}
									<img src="{{im.url}}" width="100%" alt=""/>
									{%endthumbnail%}
								{% else %}
									<img src="http://via.placeholder.com/200x200" width="100%" alt=""/>
								{% endif %}
								
							</a>
						</div>
						<div class="col-sm-8">
							<div style="max-height: 170px; overflow: hidden;">
								{{all_news.descripcion|safe|truncatechars:470}}
								<br>
								<a href="{% url 'news_detail' all_news.slug %}" class=""><span>Leer más</span></a>
							</div>
						</div>
					</div>
				</article>
			</div>
			<hr>
			{% endfor %}

		</div>

		<aside class="col-sm-3 sidebar">
			<div class="widget">
				<form class="form-inline" method="get" action="{% url 'buscador_news' %}">
					<input type="text" placeholder="{% if q %}{{q}}{% else %}Buscar...{% endif %}" class="search" name="search" />
					<button class="btn btn-default btn-noticia" type="submit"><i class="material-icons">search</i></button>
				</form>
			</div>

			<div class="widget">
				<h3>Tipos</h3>
				<ul>
					<li><a href="{% url 'filtro_tipo' 1 %}" >Noticias</a></li>
					<li><a href="{% url 'filtro_tipo' 2 %}" >Reportajes</a></li>
				</ul>				
			</div>

			<div class="widget">
				<h3>Categorías</h3>
				<ul>
					{% for themat in thematic_list %}
						
					<li><a href="{% url 'filtro_categoria_news' themat.slug %}">{{themat.nombre}}</a></li>

					{% endfor %}
				</ul>
			</div>

			<div class="widget">
				<h3>Tags</h3>
				{% for tag in common_tags %}
				
				<a href="#" class="tag">{{tag}}</a>

				{% endfor %}
			</div>
		</aside>


	</div>
</div>	

<!-- Paginacion -->

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<ul class="pagination">
					{% get_pages %}

					<li>
						<a href="{{ pages.previous.path }}">
							<i class="material-icons">arrow_back_ios</i>
						</a>
					</li>

					{% for page in pages %}

					<li><a href="./{{ page.url }}" class="{% if page.is_current %} active {% endif %}">{{page.number}}</a></li>

					{% endfor %}

					<li>
						<a href="{{ pages.next.path }}">
							<i class="material-icons">arrow_forward_ios</i>
						</a>
					</li>

				</ul>
			</div>
		</div>
	</div>
</div>


{% endblock content %}