{% extends "base.html" %}
{% load thumbnail %}
{%load el_pagination_tags %}

{% block content %}

<!-- banner -->
<div id="hero" class="carousel slide carousel-fade" data-ride="carousel">
	
	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		{% if img_noticia %}
      <div class="item active" style="background-image: url('/media/{{img_noticia.0}}')"></div>
    {% else %}
			<!-- Placeholder o imagen predeterminada aquí -->
			<div class="item active" style="background-image: url('https://placehold.co/1280x720')"></div>
    {% endif %}
	</div>

</div>


<!-- contenido -->

<div class="container section news">
	<div class="row">
		<div class="col-sm-9">
			{% paginate 5 news_list %}
			{% for all_news in news_list %}
			<div class="row">
				<article class="col-lg-12">
					<span class="categories">{{all_news.categoria}}</span>
	
					<h2 class="no-underline"><a href="{% url 'news_detail' all_news.slug %}" class="white-color">{{all_news}}</a></h2>
					<div class="row">
						<div class="col-sm-4">
							<a href="{% url 'news_detail' all_news.slug %}" class="img">
								<aside>
									<div>
										<i class="material-icons">link</i>
										<span class="date">{{all_news.fecha|date:"d"}} {{all_news.fecha|date:"M"}}, {{all_news.fecha|date:"Y"}} por {{all_news.autor}}</span>
									</div>
								</aside>
								{% if all_news.foto %}
									{% thumbnail all_news.foto "200" crop="center" as im%}
									<img src="{{im.url}}" width="100%" alt=""/>
									{%endthumbnail%}
								{% else %}
									<img src="http://via.placeholder.com/200x200" width="100%" alt=""/>
								{% endif %}
								
							</a>
						</div>
						<div class="col-sm-8">
							<div style="max-height: 170px; overflow: hidden;">
								{{all_news.descripcion|safe|truncatechars:470}}
							</div>
							<div class="clearfix"></div>
							<div class="clearfix mt-10">
								<a href="{% url 'news_detail' all_news.slug %}" class=""><span>Leer más</span></a>
							</div>
							
						</div>
					</div>
				</article>
			</div>
			<hr>
			{% endfor %}

		</div>

		<aside class="col-sm-3 sidebar">
			<div class="widget">
				<form class="form-inline" method="get" action="{% url 'buscador_news' %}">
					<input type="text" placeholder="{% if q %}{{q}}{% else %}Buscar...{% endif %}" class="search" name="search" />
					<button class="btn btn-default btn-noticia" type="submit"><i class="material-icons">search</i></button>
				</form>
			</div>

			<div class="widget">
				<h3>Tipos</h3>
				<ul>
					<li><a href="{% url 'filtro_tipo' 1 %}" >Noticias</a></li>
					<li><a href="{% url 'filtro_tipo' 2 %}" >Reportajes</a></li>
				</ul>				
			</div>

			<div class="widget">
				<h3>Categorías</h3>
				<ul>
					{% for themat in thematic_list %}
						
					<li><a href="{% url 'filtro_categoria_news' themat.slug %}">{{themat.nombre}}</a></li>

					{% endfor %}
				</ul>
			</div>

			<div class="widget">
				<h3>Tags</h3>
				{% for tag in common_tags %}
				
				<a href="#" class="tag">{{tag}}</a>

				{% endfor %}
			</div>
		</aside>


	</div>
</div>	

<!-- Paginacion -->

<style>
ul.pagination.endless_page_current {
    border-color: #FFD528;
}
ul.pagination>a,ul.pagination>span{
    line-height: 32px;
    position: relative;
    width: 48px;
    height: 48px;
    color: #4a4a4a;
    border: solid 2px #e8e8e8;
    border-radius: 50%;
    
}
ul.pagination>.endless_page_current {
	border-color: #FFD528 !important;
}
.pagination>a, .pagination>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: 8px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

ul.pagination>a:hover {
    color: #FFD528;
    border-color: #FFD528;
    background: transparent;
}

ul.pagination {
     width: auto !important; 
    margin: 0;
    text-align: center;
}
</style>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<ul class="pagination">
					{% show_pages %}
					
				</ul>
			</div>
		</div>
	</div>
</div>


{% endblock content %}