.white-color{
	color: #FFF !important;
}

.genrecolor{
	color: #e76115 !important;
}

.top_padd_50{
	padding-top: 50px !important;
}

.top_padd_30{
	padding-top: 30px !important;
}

.top_padd_20{
	padding-top: 20px !important;
}
.rigt_mar_200{
	margin-right: 200px !important;
}

.bottom_padd_50{
	padding-bottom: 50px;
}

.bottom_padd_30{
	padding-bottom: 30px;
}


.rm_padd_bottom{
	padding-bottom: 0px !important;
}

.blackalpha{
	padding: 0 10px 0 10px;
	background-color: #3c3a3a69;
}

.no_bottom_border{
	border-bottom: 0px;
}

.breadcrumb {
	background-color: #100f0f00 !important;
}

.badge-danger {
	color: #fff;
	background-color: #dc3545;
}


.fslider, .fslider .flexslider, .fslider .slider-wrap, .fslider .slide, .fslider .slide > a, .fslider .slide > img, .fslider .slide > a > img {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
}

.nobottommargin {
	margin-bottom: 0 !important;
}

.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.slider-wrap, .flex-control-nav, .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
}

.header-stick {
	margin-top: -80px !important;
}



.expand-more{
	font-size: 30px !important;
	color: white;
}


#minfo .bottom-item{
	align-items: flex-end !important;
}

.dark div.tabs-style{
	z-index: 1;
	margin-bottom: 60px;
	color: #fff;
	border-bottom-color: #333;
}

.cpanel{
	margin-bottom: 0px;
}
/*tabs*/
.nav-posit{
	position: relative !important;
}

.panel.with-nav-tabs .panel-heading{
	padding: 0px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}

/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
	color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
	color: #777;
	background-color: transparent;
	border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
	color: #555;
	background-color: #1b18188c;
	border-color: transparent;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
	background-color: #f5f5f5;
	border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
	color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
	background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
	color: #fff;
	background-color: #555;
}


/*dropdown items*/

.dropdown-item{
	display: block;
	text-align: center;
}


.d-inline-block{
	display: inline-block !important;
}

span.details {
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFD528;
}

.linear-bg{
	background-image: linear-gradient(to bottom, rgb(90, 90, 90, 0.50) 0%, rgba(0, 0, 0) 100%) !important;
}

.main-items{
	position: fixed !important;
	padding-bottom: 25px;
}

.detail_chosen{
	border-width: 3px;
	border-style: solid;
	border-image: 
	linear-gradient(
		to bottom, 
		#e2520000,
		rgba(255,98,7,0.9),
		rgba(0, 0, 0, 0)
	) 1 100%;
	position: relative;
}

h3.bann_name{
	display: block;
	max-width: 600px;

}

.close_selected{
		display: block;
		width: 50px !important;
		height: 50px !important;
		text-align: center;
		border: solid 2px #d8d8d8;
		border-radius: 50%;
		float: right !important;
}

/* onda expansiva - en directo */

.ball{
	position: absolute;
	left: 50%;
	top: 50%;
}

.ball span{
	width: 0px;
	height: 0px;
	border-radius: 50%;
	display: block;
	transition: all 2s ease-in-out;
	transform:translate(-50%,-50%);
	position:absolute;
	background: #FF0000;
	box-shadow:  0px 0px 98px 0px rgba(0,0,0,1);
	animation: expandBallAnimation 2s infinite linear;
}

@keyframes expandBallAnimation {
	0% {
		z-index:100;
		background:#FF0000;
	}
	80%{
		opacity:1;
	}
	100% {
		opacity:0;
		z-index:1;
		background: #101015;
		width: 50px;
		height: 50px;
	}
}

.ball span:nth-child(2){
	animation-delay: 1s;
}
.ball span:nth-child(3){
	animation-delay: 2s;
}
.ball span:nth-child(4){
	animation-delay: 3s;
}
.ball span:nth-child(5){
	animation-delay: 4s;
}
.ball span:nth-child(6){
	animation-delay: 5s;
}

/* Fin onda expansiva - en directo */

a:hover.light_hover{
	color: #FFD528 !important;
}


/* similar videos*/


#similar_video {
		padding: 60px 0;
}

#similar_video:before {
		position: absolute;
		right: 0;
		bottom: 0;
		left: -250%;

		display: block;

		width: 500%;
		height: 100%;
		padding: 55px 0;

		content: '';

		background: #10101000;
}

#similar_video div {
		-webkit-transition: all 300ms ease-in-out;
			 -moz-transition: all 300ms ease-in-out;
						transition: all 300ms ease-in-out;
}

#similar_video .slick-slide:hover {
		cursor: pointer;

		opacity: 1 !important;
}

#similar_video .slick-slide img {
		border-radius: 10px;
}

#similar_video .slick-slide h5 {
		font-size: 16px;

		overflow: hidden;

		width: 100%;
		margin-top: 20px;
		margin-bottom: 0;

		text-align: center;
		white-space: nowrap;
		text-overflow: ellipsis;
}

#similar_video .slick-slide .release-date {
		font-size: 14px;

		opacity: .5;
		color: #fff;
}

.similar_video-slides .slick-slider {
		background: #0000;
}

.vertical_align{
	vertical-align: middle;
}

.slick-slide .movie-poster:hover img {
	filter: grayscale(0%);
	 filter:brightness(0.3);
	background-color: rgba(0,0,0,1.5);
}

/* altos definidos */
.hg_video{
	max-height: 25px;
	overflow: hidden;
}


.banner_det_name{
	font-size: 30px !important;
	font-weight: 300;
	padding: 0;
	-webkit-animation: Heading .5s .5s forwards;
	-moz-animation: Heading .5s .5s forwards;
	-o-animation: Heading .5s .5s forwards;
	animation: Heading .5s .5s forwards;
	letter-spacing: 3px;
	opacity: 0;
	color: #fff;
	border: none;
}

.customcard{
	border-radius: 15px;
	border-bottom: gray;
}

aside.info{
	position: absolute;
	z-index: 1;
	display: flex;
	width: 100%;
	height: 100%;
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transition-delay: .1s;
	transition-delay: .1s;
	transform: scale(.9);
	text-align: center;
	opacity: 0;
	align-items: flex-end;
}

.poster{
	position: relative;
	overflow: hidden;
	border-radius: 10px;
}

/*.poster:before{
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: -100px;
	width: 0;
	height: 100%;
	content: '';
	-webkit-transition: .5s;
	transition: .5s;
	-webkit-transform: skewX(30deg);
	-ms-transform: skewX(30deg);
	transform: skewX(30deg);
	opacity: .9;
}*/
.owl-nav.disabled+.owl-dots{
	margin-top: 0px !important;
}
.owl-dots {
	text-align: right !important;
}
.owl-dots .owl-dot span{
	height: 3px !important;
	width: 10px !important;
	border-radius: 0px !important;
	margin: 3px !important;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
	background-color: #FFD528 !important;
}
a.close_collapse {
    display: block;
	text-align: right;
	padding: 10px;
}
.pb-0{
	padding-bottom: 0px !important;
}

.grow {transition: all .2s ease-in-out;}
.grow:hover {transform: scale(1.12);}
.owl-nav {
	position: absolute;
	top: 10%;
	left: 0;
	right: 0;
}
.owl-theme .owl-next, .owl-theme .owl-prev {
	position: absolute;
	height: 100px;
	width: 30px;
	color: inherit;
	background: none;
	border: none;
	z-index: 100;
}
.owl-theme .owl-next span,.owl-theme .owl-prev span {
	font-size: 2.5rem;
	color: #cecece;
}
.owl-theme .owl-prev {
	position: absolute;
	left: 0 !important;
}
.owl-theme .owl-next {
	position: absolute;
	bottom: 20;
	right: 0 !important;
}

/***tabs***/
.nav-custom{
	position: relative !important;
}
.nav.nav-custom li.active a{
	color: black;
}

.plyr__video-embed iframe {
    top: -50%;
    height: 200%;
}
.movie-poster{
	margin-bottom: 15px;
}
.title-movie:hover h4{
 color: #8BC53F !important;
}

.slick-slide .movie-poster.episodios aside div{
 height: 70%;
 padding: 10px 0px
}
.movie-poster .hover-tab{
	height: 75%;
	padding: 10px 0px
}
.slick-slide .movie-poster aside .date{
	color: #8BC53F;
}

.slick-slide .title-movie h4{
	margin-bottom: 0px;
}
.mb-0{
	margin-bottom: 0px !important;
}
.p-10{
	padding: 10px !important;
}
.pb-0{
	padding-bottom: 0px !important;
}
.pb-10{
	padding-bottom: 10px !important;
}.pt-10{
	padding-top: 10px !important;
}
.mb-10{
	margin-bottom: 10px !important;
}
.mb-30{
	margin-bottom: 30px !important;
}
.mb-40{
	margin-bottom: 40px !important;
}
.mt-10{
	margin-top: 10px !important;
}
.mt-20{
	margin-top: 20px !important;
}
select[class*='floorplanSelect']{
	background: transparent;
    color: white;
    border: 0;
    width: auto;
	font-size: 20px;
	line-height: 1.4em;
    position: relative;
	margin: 10px 0 10px 0;
	padding: 0px;
}
select[class*='floorplanSelect'] option{
	background: #101010;
}

select[class*='floorplanSelect']:focus{
	box-shadow: none;
}

select[class*='serieselect']{
	background: transparent;
    color: white;
    border: 0;
    width: auto;
	font-size: 20px;
	line-height: 1.4em;
    position: relative;
	margin: 10px 0 10px 0;
	padding: 0px;
}
select[class*='serieselect'] option{
	background: #101010;
}

select[class*='serieselect']:focus{
	box-shadow: none;
}

.slick-slide .movie-poster aside .play:hover{
	color: #8BC53F;
	border-color: #8BC53F;
}

.tab-content h2.mb-10{
 padding: 0px;
}

/****en vivo***/
.programacion{
	padding: 0;
	list-style:none;
}
.programacion li{
	margin-bottom: 0;
    padding: 10px 0;
    overflow: hidden;
}


.programacion time{
	background-color: #FFD528;
	padding: 3px 5px;
	color: white;
	font-size: 14px;
}
.programacion p{
	color: #fff;
	font-size: 18px;
	margin-bottom: 0px;
}
.programacion p:hover{
	color:  #FFD528;
}
.programacion p small{
	padding-left: 10px;
	color: #fff;
}
.programacion .p-desc{
	padding: 0;
	font-size: 85%;
	color: #e0e0e0;
	background-color:#323232;
	padding: 10px;
}
/***buscar***/
.heading .f-text{
	display: flex;
	float: right;
	margin-top: 10px;
	margin-right: 5px;
}
.heading .f-text input{
	background-color: transparent;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom-style: dotted;
	border-radius: 0%; 
	color: white;
	width: 120px;
	-webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
  	transition: width 1s;
}
.heading .f-text input:hover{
	width:160px;
}
.heading .f-text input:focus{
	border-color: transparent;
	background-color: white;
	color: #555;
	width: 160px;

}
.heading .search{
	margin-top: 10px;
	padding-left: 10px;
}
.heading .search button{
	background: transparent;
	border: none;
	height: 32px;
	line-height: 32px;
	
}
.heading .search i{
	font-size: 20px;
}

.heading .search button:hover i{
	color:#FFD528;
}
/***videos***/

.up-video{
	font-size: 20px;
	padding: 12px 40px;
	margin-bottom: 10px;
}
a:focus{
	text-decoration: none;
}
/****categorias***/
.form-cat h3{
	border:none;
	color: white;
	margin-bottom: 0px;
	padding-bottom: 10px;
}
.form-cat h3:after{
 display: none;
}
.form-cat #id_categorias{
	min-width: 200px;
	font-size: 16px;
	border-radius: 0;
	margin-bottom: 10px;
}
.form-cat .btn{
	padding: 8px 11px;
	border-width: 0;
	border-radius: 0;
	margin-bottom: 10px;
}
.news article p{
	margin: 0;
}
.no-underline a:hover{
	color: #FFD528 !important;
}
.carousel-indicators{
	bottom: 35px;
}

.widget .form-inline input{
	width: auto;
	margin-bottom: 10px;
}

.widget .form-inline .btn-noticia{
	padding: 12px 15px;
	top: -2px;
	border-radius: 0;
	border: 1px solid #d8d8d8;
}
ul.pagination li:first-of-type a, ul.pagination li:last-of-type a{
	padding: 0;
	line-height: 40px;
    position: relative;
    width: 48px;
    height: 48px;
    color: #4a4a4a;
    border: solid 2px #e8e8e8;
	border-radius: 50%;
}

ul.pagination li:first-of-type a:hover, ul.pagination li:last-of-type a:hover{
	color: #FFD528;
	border-color: #FFD528;
}
ul.pagination li:first-of-type a .material-icons, ul.pagination li:last-of-type a .material-icons{
	font-size: 20px;
}
.news_data .d-inline-block{
	padding-right: 10px;
}

.news_data .d-inline-block .material-icons{
	font-size: 20px;
}
.news_contenido h1:after,
.news_contenido h2:after,
.news_contenido h3:after,
.news_contenido h4:after,
.news_contenido h5:after,
.news_contenido h6:after{
	display: none;
}
.news_contenido h1,
.news_contenido h2,
.news_contenido h3,
.news_contenido h4,
.news_contenido h5,
.news_contenido h6{
	border-bottom: none;
}
.news_contenido img{
	height: auto !important;
}

/***Episodios***/

.sidebar_episodios {
  position: fixed;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s;
  top: 0;
  bottom: 0;
  right: -350px;
  z-index: 0;
  width: 350px;
  padding: 0px;
  background: #333;
  z-index: 99;
  /* overflow-y: scroll; */
}

.sidebar_episodios li {
  color: rgba(255, 255, 255, 0.8);
  list-style-type: none;
  font-size: 16px;
  margin-bottom: 16px;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}
.sidebar_episodios li:hover {
  color: rgba(255, 255, 255, 1);
}
.page-wrap .sidebar_episodios.open {
  right: 0px;
}

.sidebar_episodios .collapse_temp{
	display: block;
	background: #1f1e1e;
	padding: 10px;
	font-size: 18px;
	color: white;
	margin: 5px;
}
.container_list .list-episocios{
	padding: 0 10px;
}
.container_list .list-episocios li{
	padding: 5px;
	margin: 0;
}
.container_list .list-episocios li:hover{}
.container_list .list-episocios li:hover a{
	color: white;
}
.sidebar_episodios .exit{
	padding: 10px;
	float: right;
}
/***Banner***/
#hero .container .blurb p{
 max-width: 500px;
}

/***Ultimas noticias***/

.bg-bnews{
	background-color: #e58900;
	margin-bottom: 10px;
}
.bnews-padding{
	padding: 5px;
}
.bnews-slider {
	margin-left: 20px;
	min-height: 0;
}
.bnew-list{
	margin-bottom: 5px;
}
.bnew-list li{
	padding: 0;
}
.bnew-list li a{
	color: white;
    font-weight: 500;
    font-size: 15px;
    padding: 10px;
	border-radius: 40px;
	background-color: transparent;
}
.bnew-list li a:hover{
	color: #ffffff;
    background: #e40202;
}
.bnews-title{
	background-color: #e40202;
}
.bnew-list li+li{
}
.bnew-list li+li::before{
	content: '';
	padding: 0 80px;
	font-size: 20px;
}

.bnews-title {
	text-transform: uppercase;
}
/*****/
.expand-more{
	color: white !important;
}
.expand-more:hover{
	color: #8BC53F !important;
}
a:hover{
	color: #8BC53F;
}
.carousel-indicators .active{
 background-color:#FFD528;
}
.video-content iframe{
	width: 100%;
}
.comingSoon-slides .video i{
	border-color: #8BC53F;
	color: #8BC53F;
}
.owl-theme .owl-next span, .owl-theme .owl-prev span{
	color: rgb(141, 141, 141) !important;
}
.owl-theme .owl-nav [class*=owl-]:hover{
	background: #38376a52 !important;
}
.navbar-toggle .icon-bar{
	background:#FFD528;
}

/**********organizaciones************/
.list-org .item{
	padding: 0.5rem;
}

.slick-slide .logo-item{
	min-height: 175px;
}
.slick-slide .logo-item img{
	padding: .5rem;

}
/*=============================================
Responsive
=============================================*/
@media (max-width: 480px){
	.video-content iframe{
		height: 235px;
	}
	.section .columns{
		margin: 0 10px;
	}
	
	
}

@media (max-width: 576px){
	.video-content iframe{
		height: 400px;
	}
	.section .columns{
		margin: 0 10px;
	}
	#hero .container .blurb p{
		max-width: 500px;
	   }
	
}
    
/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px){
	.video-content iframe{
		height: 400px;
	}
	.section .columns{
		margin: 0 10px;
	}
	.nav li a.directo-icon{
		display: none !important;
	}
	.nav .dropdown-menu{
		background: #FFD528;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.video-content iframe{
		height: 600px;
	}
	.section .columns{
		margin: 0 10px;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    
}
